 
<div class="navbar bg-red-500">
  <div class="flex-1">
    <a class="btn btn-ghost text-xl">IhsanBlog</a>
  </div>
  <div class="">
    <ul class="menu menu-horizontal px-1">
      <li>
        <%= link_to "Ana Sayfa", root_path %>
      </li>
      <li>
        <details class="relative">
          <summary class="cursor-pointer">Hesap İşlemleri</summary>
          <ul class="absolute left-0 w-full bg-base-100 rounded-t-none p-2">
            <% if user_signed_in? %>
              <li><%= link_to "Create Blog Post", new_blog_post_path %></li>
              <li><%= link_to "Profile", edit_user_registration_path %></li>
              <li><%= button_to "Log out", destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to "Log in", new_user_session_path %></li>
              <li><%= link_to "Sign up", new_user_registration_path %></li>
            <% end %>
          </ul>
        </details>
      </li>
    </ul>
  </div>
</div>